//- Banner
//-
//- A full width banner image, to be displayed below the hero banner component


//- Options
//- -- alt
//- -- src


mixin banner(args)
  .banner
    if args.desktop_srcset && args.mobile_srcset
      picture.banner__image
        source(media="(min-width: 36em)" srcset=args.desktop_srcset)
        source(srcset=args.mobile_srcset)
        img.banner__image(src=args.src, alt=args.alt)
    else
      img.banner__image(src=args.src, alt=args.alt)
