//- Logo stack
//-
//- A group of logos, showcasing either clients or technology from our toolkit


//- Options
//- -- alt
//- -- src


mixin logo-stack(args)
  .logo-stack(class=attributes.class)
    each item, index in args
      if item.href
        a.logo-stack__item(href=item.href, target=item.target)
          img(src="images/logos/" + item.src, alt=item.alt)
      else
        div.logo-stack__item
          img(src="images/logos/" + item.src, alt=item.alt)
