//- Section
//-
//- A section block to encapsulate groups of related content


//- Options
//- -- description (optional)
//- -- title (optional)


mixin section(args)
  - var attributesClass = attributes.class ? attributes.class : null
  - var attributesID = args.id ? args.id : null
  - var backgroundClass = args.background ? "section--" + args.background : null
  - var centerClass = args.center ? "section--center" : null
  - var shadowClass = args.shadow ? "section--shadow" : null

  section.section(id=args.id, class=attributesClass, class=backgroundClass, class=centerClass, class=shadowClass)
    .section__inner
      if args.heading
        .section__intro
          h2.section__heading!= args.heading
          if args.text
            p.section__text!= args.text
      .section__content(class=args.narrow ? "section__content--narrow" : null)
        block
