mixin statement(c)
  .statement
    .statement__icon
      .statement__img
        img(src= c.icon alt=c.iconAlt)
    .statement__content
      h3.statement__heading= c.heading
      p.statement__text= c.text
      if c.link
        a.statement__link(
          data-micromodal-trigger=(c.link.triggerModal ? "modal-contact" : undefined)
          href= c.link.href)= c.link.text
