mixin block(c)
  .block
    if c.subHeading === true
      h6.block__subheading= c.blockSubHeading
      h2.block__heading= c.blockHeading
      p.block__text= c.blockText
    else
      h2.block__heading= c.blockHeading
      p.block__text= c.blockText