include _mixins

block vars

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title}

    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0")

    meta(http-equiv="cleartype", content="on")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="#{title}")

    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/inline.css", inline)
    script.
      (function(d) {
        var config = {
          kitId: 'huw3wqz',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    script.
      //- Ensure the content fades in properly even if a content blocker is blocking typekit:
      document.addEventListener("DOMContentLoaded", function(event) {
        setTimeout(function() {
          var htmlClasses = document.documentElement.classList;
          if (!htmlClasses.contains("wf-active") && !htmlClasses.contains("wf-loading")) {
            document.documentElement.classList.add("wf-active-override");
          }
        }, 250);
      })

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#28a76a")
    meta(name="apple-mobile-web-app-title", content="Leaf")
    meta(name="application-name", content="Leaf")
    meta(name="theme-color", content="#28a76a")

    //- Open Graph
    meta(property="og:type", content="business.business")
    meta(property="og:title", content="Leaf Software Ltd")
    meta(property="og:url", content="http://www.weareleaf.com")
    meta(property="og:image", content="http://www.weareleaf.com/images/leaf-logo-1200.png")
    meta(property="og:description", content="Leaf are a web design and development studio, specialising in lean digital products that make peoples lives easier.")
    meta(property="business:contact_data:street_address", content="25 Castle Street")
    meta(property="business:contact_data:locality", content="Canterbury")
    meta(property="business:contact_data:region", content="Kent")
    meta(property="business:contact_data:postal_code", content="CT1 2PX")
    meta(property="business:contact_data:country_name", content="United Kingdom")

    //- Twitter card
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@we_are_leaf")
    meta(name="twitter:title", content="Leaf")
    meta(name="twitter:description", content="Leaf are a web design and development studio, specialising in lean digital products that make peoples lives easier.")

    //- JSON Linked Data
    script(type="application/ld+json").
      {
        "@context": "http://www.schema.org",
        "@type": "LocalBusiness",
        "name": "Leaf",
        "legalName": "Leaf Software Ltd",
        "logo": "http://www.weareleaf.com/images/leaf-logo-600.png",
        "url": "http://www.weareleaf.com",
        "email": "enquiries@weareleaf.com",
        "sameAs": [
          "http://www.twitter.com/we_are_leaf"
        ],
        "address": {
          "streetAddress": "25 Castle Street",
          "addressLocality": "Canterbury",
          "addressRegion": "Kent",
          "postalCode": "CT1 2PX",
          "addressCountry": "United Kingdom"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "51.276420",
          "longitude": "1.076001"
        },
        "openingHours": "Mo, Tu, We, Th, Fr 09:00-17:00"
      }

    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
      ga("create", "UA-62036216-1", "auto");
      ga("send", "pageview");

  body(dir="ltr", class=bodyClass)

    .site-wrapper

      block content

      if(bodyClass != "landing-page")
        +footer

    block footerScripts

      if(bodyClass != "landing-page")
        script.
          var body =  document.querySelector("body");
          var hamburger = document.querySelector(".hamburger");
          var navigation = document.querySelector(".navigation");
          var navigationList = document.querySelector(".navigation__list");

          // Toggle the burger menu, and navigation state
          hamburger.addEventListener("click", function() {
            body.classList.toggle("no-scroll");
            hamburger.classList.toggle("is-active");
            navigation.classList.toggle("on");
            navigationList.classList.toggle("hidden");
          });

          // Close the navigation via the Esc key
          document.addEventListener("keyup", function(e) {
            if (e.keyCode == 27) {
              body.classList.remove("no-scroll");
              hamburger.classList.remove("is-active");
              navigation.classList.remove("on");
              navigationList.classList.add("hidden");
            }
          });
