mixin button(c)
  if c.url
    a.button(
      class=(c.modifier ? "button--" + c.modifier : "")
      data-micromodal-trigger=(c.triggerModal ? "modal-contact" : undefined)
      href= c.url)= c.text
  else
    button.button(
      class=(c.modifier ? "button--" + c.modifier : "")
      data-micromodal-trigger=(c.triggerModal ? "modal-contact" : undefined)
      type= c.type ? c.type : "button")= c.text
