mixin hero(c)
  section.hero
    .hero__container
      .hero__content
        h1.hero__heading !{c.heroHeading}#[span.hero__heading__period .]
        if c.heroSubheading
          p.hero__subheading= c.heroSubheading
        else
          p.hero__subheading A #[strong #{c.heroMinutesToRead} minute read], written by #[strong #{c.heroAuthor}] on #[strong #{c.heroDate}].