mixin hero(c)
  section.hero
    .hero__container
      if c.heroIntroImage === true
        .hero__content
          h1.hero__heading !{c.heroHeading}#[span.hero__heading__period .]
          p.hero__subheading(class= c.heroSubheadingModifier ? "hero__subheading--" + c.heroSubheadingModifier : "") !{c.heroSubheading}
          +image({
            context: "hero",
            modifier: c.heroImageModifier,
            src: c.heroImage.src,
            alt: c.heroImage.alt
          })
      else
        .hero__content
          h1.hero__heading !{c.heroHeading}#[span.hero__heading__period .]
          if c.heroSubheading
            p.hero__subheading(class= c.heroSubheadingModifier ? "hero__subheading--" + c.heroSubheadingModifier : "") !{c.heroSubheading}
          else
            p.hero__subheading A #[strong #{c.heroMinutesToRead} minute read], written by #[strong #{c.heroAuthor}] on #[strong #{c.heroDate}].
