mixin content(c)
  .content
    if c.contentHeading2 === true
      h2.content__heading= c.contentHeading
      p.content__intro= c.contentIntro
      p.content__text= c.contentText
    else
      h3.content__heading= c.contentHeading
      p.content__intro= c.contentIntro
      p.content__text= c.contentText
  
