mixin resource(c)
  if c.url
    a.resource(href= c.url, rel="noopener", target="_blank")
      .resource__container
        if c.image
          +image({
            context: "resource",
            src: c.image.src,
            alt: c.image.alt
          })
        else
          .resource__placeholder
        .resource__content
          .resource__meta
            span.resource__subheading= c.subheading
          h3.resource__heading= c.heading
          p.resource__text= c.text
  else
    .resource
      .resource__container
        if c.image
          +image({
            context: "resource",
            src: c.image.src,
            alt: c.image.alt
          })
        else
          .resource__placeholder
        .resource__content
          .resource__meta
            span.resource__subheading= c.subheading
            span.resource__badge Coming soon
          h3.resource__heading= c.heading
          p.resource__text= c.text
