mixin resource(c)
  if c.resourceUrl
    a.resource(href= c.resourceUrl, rel="noopener", target="_blank")
      .resource__container
        if c.resourceImage
          +image({
            context: "resource",
            src: c.resourceImage.src,
            fallbackSrc: c.resourceImage.fallbackSrc,
            alt: c.resourceImage.alt
          })
        else
          .resource__placeholder
        .resource__content
          .resource__meta
            span.resource__subheading= c.resourceSubheading
          h3.resource__heading= c.resourceHeading
          p.resource__text= c.resourceText
  else
    .resource
      .resource__container
        if c.resourceImage
          +image({
            context: "resource",
            src: c.resourceImage.src,
            fallbackSrc: c.resourceImage.fallbackSrc,
            alt: c.resourceImage.alt
          })
        else
          .resource__placeholder
        .resource__content
          .resource__meta
            span.resource__subheading= c.resourceSubheading
            span.resource__badge Coming soon
          h3.resource__heading= c.resourceHeading
          p.resource__text= c.resourceText