mixin card(c)
  if c.cardUrl
    a.card(href= c.cardUrl)
      +image({
        context: "card",
        src: c.cardImage.src,
        alt: c.cardImage.alt
      })
      .card__content
        h3.card__heading= c.cardHeading
        p.card__text= c.cardText
  else
    .card
      +image({
        context: "card",
        src: c.cardImage.src,
        alt: c.cardImage.alt
      })
      .card__content
        h3.card__heading= c.cardHeading
        p.card__text= c.cardText
        if c.cardLink
          a.card__link(
            data-micromodal-trigger=(c.cardLink.triggerModal ? "modal-contact" : undefined)
            href= c.cardLink.href)= c.cardLink.text
