mixin tile(c)
  a.tile(
    href= c.url
    rel=(c.newTab ? "noopener" : undefined)
    target=(c.newTab ? "_blank" : undefined)
  )
    if c.image
      +image({
        context: "tile",
        src: c.image.src,
        alt: c.image.alt
      })
    .tile__content
      h3.tile__heading= c.heading
      p.tile__text= c.text
