//- Products
//-
//- A collection of our own products, which loops through each included item


//- Options
//- -- item
//- -- -- alt
//- -- -- description
//- -- -- href
//- -- -- src
//- -- -- srcset
//- -- -- title


mixin products(args)
  .products
    .products__inner
      each item in args
        .products__item
          a.products__item__link(href=item.href, target="_blank", rel="noopener")
            img.products__item__image(src=item.src, srcset=item.srcset, sizes="(max-width: 36em) 90vw, calc(0.58763 * (90vw - 15px))", alt=item.alt)
          .products__item__info
            h3.products__item__title #{item.title}
            p.products__item__description #{item.description}
            a.products__item__button(href=item.href, target="_blank", rel="noopener") Go to site
