//- Related content item
//-
//- A large image that links through to further content. To be called by the related content component


//- Options
//- -- intro
//- -- text
//- -- title


mixin related-content-item(args)
  a.related-content__item(href=args.href)
    img.related-content__item__image(src=args.src, srcset=args.srcset, sizes="(max-width: 36em) 90vw, calc(0.58763 * (90vw - 15px))")
    .related-content__item__info
      span.related-content__item__intro #{args.intro}
      span.related-content__item__title #{args.title}
