//- Control
//-
//- A group of control elements; either radio buttons or checkboxes


//- Options
//- -- item
//- -- -- intro
//- -- -- text
//- -- -- title


mixin control(args)
  - var name = args.name ? args.name : null
  - var type = args.type ? args.type : null
  - var typeClass = args.type ? "control--" + args.type : null

  each item in args
    - var attributesClass = attributes.class ? attributes.class : null
    - var checked = item.checked ? "checked" : null

    label.control(class=attributesClass, class=typeClass)
      input.control__input(name=(item.name || name), type=type, checked=checked, value=item.label)
      span.control__indicator
      span.control__label= item.label
