//- Textarea
//-
//- A humble textarea


//- Options
//- -- attributesClass
//- -- elementClass
//- -- name
//- -- optional
//- -- placeholder
//- -- text
//- -- dataHowdyValidate


mixin textarea(args)
  - var attributesClass = attributes.class ? attributes.class : null
  - var elementClass = args.class ? args.class : null
  - var name = args.name ? args.name : null
  - var placeholder = args.placeholder ? args.placeholder : null
  - var required = args.optional ? null : "required"
  - var text = args.text ? args.text : null
  - var dataHowdyValidate = args.dataHowdyValidate || null

  textarea(
    class=attributesClass
    class=elementClass
    name=name
    required=required
    placeholder=placeholder
    data-howdy-validate=dataHowdyValidate
  )!= args.text
