mixin nav(c)
  nav.nav(class= c.navModifier ? "nav--" + c.navModifier : "")
    ul.nav__list
      each navItem in c.navList
        li.nav__item
          if activePage ===  navItem.navItemText
            if navItem.navItemTextMobile
              span.nav__link.nav__link--active
                span.nav__text
                  span.nav__text__mobile= navItem.navItemTextMobile
                  span.nav__text__standard= navItem.navItemText
            else
              span.nav__link.nav__link--active= navItem.navItemText
          else
            a.nav__link(
              href= navItem.navItemUrl
              data-micromodal-trigger=(navItem.triggerModal ? "modal-contact" : undefined)
              data-mobile-only=(navItem.navItemMobileOnly ? "mobile-only" : undefined)
              target=(navItem.newTab ? "_blank" : undefined)
              rel=(navItem.newTab ? "noopener" : undefined)
            )
              if navItem.navItemTextMobile
                span.nav__text
                  span.nav__text__mobile= navItem.navItemTextMobile
                  span.nav__text__standard= navItem.navItemText
              else
                span.nav__text= navItem.navItemText